body {
    font-family: sans-serif;
    color: beige;
    margin: 0;
    background-color: black;

}

a{
    text-decoration: none;
    color: beige;
}
header {
    display: flex;
    background-color: black;
    min-height: 70px;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px;
    
}

nav a ¨{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:aquamarine
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
nav{
    padding: 10px 0px;
}

.slider {
    /* width: 95%; Esto debe de estar al cien, por default esta al 100 */
    background-color: rgb(0, 0, 0);
    margin: 0%;
    overflow: hidden;
}
.slider ul {
padding: 0%;
display: flex;
width: 500%;


animation: cambio 20s infinite alternate;

}
.slider il {
    width: 100%;
    
    list-style: none;

}
.slider img {
    /* Se debe poner el width en 100% para que tus imagenes abarquen todo el ancho y el height en auto para que se ajuste sola la altura dependiendo del ancho, como recomendacion, se bederian de omitir las propiedades de algo y ancho y utilizar fotos con un mismo tamanio ej. 1920 x 1080 */
    /* width: 1300px;
    height: 1300px; */
    
    width: 100%;
    height: auto;

}
@keyframes cambio {
    0% {margin-left: 0%;}
    15% {margin-left: 0%;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    /* Esta parte soluciona la parte negra que se ve al final de tu slider, tenias la medida en -500% y debia estar en -400% */
    /* 80% {margin-left: -500%;}
    100% {margin-left: -500%;} */

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}


}
 .article {
     color: aqua;
 }